# Easily send HTTP requests
requests
# Easily generate podcast feeds
feedgen
# Get duration of an MP3 file
tinytag
# Easily cache properties which could take some time to calculate
cached-property
# Make it possible to work with timezones
pytz
# Testing without boilerplate
pytest
# Others
Markdown