# Easily send HTTP requests
requests==2.11.0
# Easily generate podcast feeds
podgen==1.0.0b4
# Get duration of an MP3 file
tinytag==0.16.0
# Easily cache properties which could take some time to calculate
cached-property==1.3.0
# Make it possible to work with timezones
pytz==2016.6.1
# Testing without boilerplate
pytest==2.9.2
# For Chimera episode source
Markdown==2.6.6
# For progress bar
clint==0.5.1
## The following requirements were added by pip freeze:
dateutils==0.6.6
lxml==3.6.1
py==1.4.31
python-dateutil==2.5.3
six==1.10.0
args==0.1.0
## The following requirements were added by pip freeze:
future==0.15.2
pkg-resources==0.0.0
