[Unit]
Description=Frond-end serving fresh podcast feeds

[Service]
Type=simple
User=<username>
ExecStart=/usr/bin/make -C <path>/podkast.radiorevolt.no
Restart=always

[Install]
WantedBy=multi-user.target
