[Unit]
Description=Frond-end serving fresh podcast feeds

[Service]
Type=simple
ExecStart=/bin/sh "sudo -u <username> <path>/start_server.sh"
Restart=always

[Install]
WantedBy=multi-user.target
