# Simple webserver framework
flask
# Utility for generating unique URLs
shortuuid
# Connecting to postgresql db
psycopg2
# We will need to use the generator, so install its dependencies
-r ../generator/requirements.txt
