# Allow more static typing
typing==3.7.4.1
# Easily send HTTP requests
requests==2.23.0
# Easily generate podcast feeds
podgen==1.1.0rc1
# Get duration of an MP3 file
tinytag==1.2.2
# Easily cache properties which could take some time to calculate
cached-property==1.5.1
# Make it possible to work with timezones
pytz==2019.3
# Testing without boilerplate
pytest==2.9.2
# For Chimera episode source
Markdown==3.2.1
# For progress bar
clint==0.5.1
# For parsing dates from RadioRevolt.no
tonyg-rfc3339==0.1
# Simple webserver framework
Flask==1.1.1
# Our own webserver
uWSGI==2.0.18
# Image manipulation
Pillow==5.4.1
# Database connection (for SlugList)
psycopg2==2.8.4
# For reading settings
PyYAML==5.3
## The following requirements were added by pip freeze:
args==0.1.0
certifi==2019.3.9
chardet==3.0.4
click==6.7
dateutils==0.6.6
feedgen==0.3.2
future==0.16.0
gunicorn==19.6.0
idna==2.8
itsdangerous==0.24
Jinja2==2.11.1
lxml==4.6.3
MarkupSafe==1.0
py==1.5.4
python-dateutil==2.7.3
six==1.11.0
urllib3==1.24.1
Werkzeug==1.0.0
